* {
  margin: 0;
  padding: 0;
}

body {
  background: #fefefe;
  font-family: 'Libre Franklin', sans-serif;
  font-size: 14px;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 1680px){
    .top-nav{
        width: 100%;
        position: fixed;
    }
}


/* ----- ADDED THE FONTS FOR THE PROJECT ----- */

@font-face {
  font-family: "Cheltenham";
  src: url('resources/fonts/Cheltenham Bold Italic.otf')  format('truetype');
}

@font-face {
  font-family: "franklyn-Regular";
  src: url('resources/fonts/franklyn-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: "nyt-imperial-bold";
  src: url('resources/fonts/nyt-imperial-bold.woff.ttf')  format('truetype');
}

@font-face {
  font-family: "nyt-imperial-bold";
  src: url('resources/fonts/times.ttf')  format('truetype');
}

/* ----- ...HERE STARTS THE STICKY NAVBAR ----- */
nav {
  position: sticky;
  top: 0;
  align-self: center;
  padding: 0 20px 5px 20px;
}

figcaption {
  line-height: 15px;
  color: #c4c4c4;
  font-size: 12px;
  align-self: flex-start;
  margin-left: -150px;
}

iframe {
  margin: 40px 0 0 0;
}

a {
  text-decoration: none;
}

.top-nav {
  width: 100%;
  background: #fff;
  height: 34px;
  border-bottom: 1px solid #c4c4c4;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 0 20px 5px 0;
  margin: 0 -10px 0 -10px;
  position: fixed;
  z-index: 1;
}

.top-nav img {
  display: flex;
  height: 28px;
  width: 200px;
  align-items: center;
}

.lft-icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition-delay: 2s;
  transition-timing-function: ease-in-out 2s;
}

.bars {
  margin: 15px 5px 0 0;
}

.search {
  margin: 15px 25px 0 25px;
}

.btncomm button {
  background-color: rgb(86, 123, 149);
  color: white;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  line-height: 1.5rem;
  text-transform: uppercase;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-image: initial;
  border-radius: 3px;
  padding: 5px 0;
  transition: background-color 0.6s ease 0s;
  vertical-align: middle;
  height: 32px;
  width: 261px;
  z-index: -1;
}

.rgt-icons {
  display: flex;
  justify-content: flex-end;
}

.spc {
  margin: 15px 5px 0 0;
}

.spc-wrd {
  font-family: "franklyn-Regular" Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.subs button {
  border-radius: 3px;
  background-color: #567b95;
  color: #fff;
  border: none;
  height: 28px;
  margin-top: 5px;
}

.login button {
  margin: 5px 0 0 7px;
  border-radius: 3px;
  background-color: #567b95;
  color: #fff;
  border: none;
  height: 28px;
}

.rgt-icons button {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  font-size: 12px;
  position: relative;
  padding: 0 15px 0 15px;
}

.lft-icons a {
  text-decoration: none;
  font-weight: 700;
  color: #000;
}

.nyt-logo {
  display: flex;
  align-items: center;
  position: relative;
  top: 8px;
}

.bars:hover {
  background: #c4c4c4;
  width: 20px;
  height: 20px;
  position: relative;
  padding-left: 7px;
  padding-top: 4px;
}

.search:hover {
  background: #c4c4c4;
  width: 20px;
  height: 20px;
  position: relative;
  padding-left: 6px;
  padding-top: 4px;
}

.spc:hover {
  text-decoration: underline;
}

.rgt-icons button:hover {
  transition-timing-function: ease-in-out 1s;
  height: 28px;
  background: #326891;
}

/* ----- ...HERE STARTS THE ARTICLE ----- */

.main {
  width: 100%;
  text-align: center;
  flex-direction: column;
  
  align-content: center;
}

.title {
  text-align: left;
  font-family: "Cheltenham" 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-style: italic;
  margin: 45px 0 45px 330px;
}

.figcaption {
  margin: 10px 0 5px 208px;
  text-align: left;
  font-weight: 400;
}

span {
  font-family: "Cheltenham" Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #888;
}

.author {
  margin: 25px 0 15px 370px;
  font-family: 'Merriweather', serif;
  width: 600px;
}
.auth-main{
    vertical-align: middle;
    justify-content: center;
}

.author-name {
  font-weight: 600;
  font-size: 15px;
}

.auth {
  text-decoration: none;
  color: #000;
}

.auth:hover {
  text-decoration: underline;
}

.sm-icons {
  margin: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-btns > li {
  display: inline-block;
  margin-right: 16px;
}

.icon-btns svg {
  box-sizing: content-box;
  width: 15px;
  height: 15px;
  padding: 5px;
  border: 1px;
  background: #eee;
  border-radius: 100%;
}

.icon-btns svg:hover {
  background: #c4c4c4;
}

.main-article {
  width: 700px;
  margin: 25px 0 90px 360px;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: nyt-imperial, georgia, 'times new roman', times, serif;
  justify-content: center;
}

#intro {
  align-items: center;
}

.main-article p {
  margin-top: 15px;
  text-align: left;
}

.main-article h3 {
  margin-top: 15px;
  text-align: center;
}

.inflation-theory {
  width: 945px;
  margin: 40px auto;
  box-sizing: border-box;
}

.inflation-theory h2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #000;
  margin-bottom: 2px;
  font-weight: 700;
}

.inflation-theory-cell {
  display: inline-block;
  color: #666;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 20px;
}

.inflation-theory-container {
  background-repeat: no-repeat;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: contain;
  padding-top: 280px;
}

.inflation-theory-grid {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  column-gap: 15px;
  box-sizing: border-box;
  grid-row-gap: 130px;
  margin-top: -130px;
  height: 500px;
}

.inflationSectionGrid p {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
}

.inflation-theory-footer {
  width: 60px;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
  max-width: 945px;
}

.inflation-theory-credit {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #333;
  font-size: 100%;
}

.inflation-theory-credit p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family: arial, helvetica, sans-serif;
  width: 700px;
}

.inflation-theory-spacer {
  content: "";
  border: none;
  margin-bottom: 25px;
}

.article-figures {
  margin: 15px 0 40px 0;
  padding: 0 16px;
  box-sizing: content-box;
  width: 655px;
  height: 437px;
}

.article-figures > :first-child {
  width: 100%;
}

.article-figures > figcaption {
  margin: 5px 0 50px 0;
}

.video-title {
  color: #666;
}

.mil2 {
  margin-top: 100px;
}

.video-credit {
  font-size: 13px;
  color: #888;
}

/* SECOND NAVBAR */
.second-nav {
  border-bottom: 1px solid #666;
  background: #fff;
  width: 100%;
  max-width: 100%;
  height: 38.75px;
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(2, 33.33%);
  grid-template-rows: repeat(1, 33.33%);
  grid-template-areas: "nyt-svg cosmo social-icons";
  flex-direction: row;
}

.second-logo {
  grid-area: nyt-svg;
  align-self: baseline;
  margin: 10px 0 10px 15px;
  width: 184px;
  height: auto;
}

.nyt-svg {
  width: 184px;
}

.cosmo {
  grid-area: cosmo;
  text-decoration: none;
  font-size: 14px;
  color: #000;
  font-weight: 800;
  align-self: stretch;
  height: 38px;
  text-align: center;
  padding-top: 10px;
  margin-left: -250px;
}

.cosmo:hover {
  text-decoration: underline;
}

.cosmo span {
  font-size: 14px;
  font-family: "Cheltenham" 'Times New Roman', Times, serif;
  color: #000;
}

.cosmo span:hover {
  text-decoration: none;
}

.cosmo-anchor {
  text-decoration: none;
  font-family: "franklyn-Regular" 'Times New Roman', Times, serif;
  font-weight: bolder;
  color: #000;
  height: 38px;
}

.sm-grid {
  width: 200px;
  height: 38px;
  display: inline-flex;
}

.icns-sm {
  list-style-type: none;
  display: inline-flex;
  margin: 5px;
  width: 200px;
  justify-content: space-between;
  position: relative;
  left: 200px;
  bottom: 7px;
  z-index: -1;
}

.container-main {
  width: 100%;
  align-content: center;
}

.page1 {
  text-decoration: none;
  border: 1px solid red;
}

.articles-down {
  margin-top: 28px;
  line-height: 10px;
  margin-bottom: 20px;
}

.btn-comments {
  width: 700px;
  height: 32px;
  display: flex;
  position: relative;
  left: 360px;
  bottom: 40px;
}

.bottom-things {
  width: 90%;
  margin: 0 auto;
  display: grid;
  column-gap: 1%;
  row-gap: 2%;
  grid-auto-rows: minmax(auto, auto);
  grid-row: 1;
  grid-column: 1/4;
}

.more {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(auto, 1fr));
  column-gap: 1%;
  row-gap: 1%;
  grid-auto-rows: minmax(auto, auto);
  grid-row: 1;
  grid-column: 1/3;
}

.side-b {
  width: 268px;
  grid-row: 1;
  grid-column: 2/2;
  justify-content: right;
}

.tw {
  width: 15px;
  height: 15px;
  padding: 10px;
  border: 1px;
  background: #eee;
  border-radius: 100%;
}

.title-more {
  justify-content: left;
  padding: 15px 0 10px 0;
}

.title-more a {
  text-decoration: none;
  color: #000;
}

.most-title {
  padding: 15px 0 16px 0;
}

.more img {
  width: 227px;
  height: 152px;
}

.imgs-container {
  width: 80%;
}

.uno {
  grid-row: 1;
  grid-column: 1/4;
  border-top: 1px solid #000;
}

.dos {
  grid-row: 2;
  grid-column: 1/3;
}

.tres {
  grid-row: 2;
  grid-column: 2/3;
}

.cuatro {
  grid-row: 2;
  grid-column: 3/3;
}

.cinco {
  grid-row: 3;
  grid-column: 1/3;
}

.seis {
  grid-row: 3;
  grid-column: 2/3;
}

.siete {
  grid-row: 3;
  grid-column: 3/3;
}

.ocho {
  grid-row: 1;
  grid-column: 4/4;
  align-items: center;
  border-top: 1px solid #000;
}

.nueve {
  grid-row: 4;
  grid-column: 1/4;
  border-top: 1px solid #000;
}

.diez {
  grid-row: 5;
  grid-column: 1/3;
}

.once {
  grid-row: 5;
  grid-column: 2/3;
}

.doce {
  grid-row: 5;
  grid-column: 3/3;
}

.title-more a:hover {
  text-decoration: underline;
  color: #000;
}

.more i {
  text-align: right;
  color: #666;
}

.anchors-aside h4 {
  font-size: 16px;
  color: #000;
  border-top: 1px solid rgb(226, 226, 226);
  padding: 13px 0 13px 0;
  font-family: 'Libre Franklin', sans-serif;
}

.anchors-aside {
  width: 318px;
}

.trece {
  position: relative;
  left: 1020px;
  bottom: 796px;
  width: 350px;
  z-index: -1;
}

.bottom-section-container::before {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  border-top: 2px solid #e2e2e2;
  content: "";
  display: block;
  height: 1px;
  margin-top: 0;
}

.bottom-section-container {
  width: 1229px;
  margin: 50px 0 10px 40px;
  align-content: center;
}

.bottom-section-header {
  margin-top: 20px;
  height: 40px;
}

.bottom-nytimes-logo {
  display: block;
  height: 44px;
  width: 184px;
}

.goto-homepage-link {
  color: #567b95;
  font-family: helvetica, arial, sans-serif;
  font-size: 10px;
  text-decoration: none;
  position: relative;
  left: 1070px;
  bottom: 145px;
}

.bottom-link-section {
  display: flex;
  margin-top: 10px;
  min-width: 600px;
}

.bottom-link-section-columns {
  flex: 1;
}

.bottom-link-section-uls {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bottom-link-section-uls-links {
  color: #000;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 14px;
  font-weight: 500;
  height: 23px;
  line-height: 16px;
}

.site-index-subscribe-label {
  border-left: 1px solid #e2e2e2;
  flex: 1;
  padding-left: 15px;
}

.bottom-link-section-columns-subscribe {
  margin-bottom: 5px;
  white-space: nowrap;
}

.bottom-link-section-columns-subscribe-links {
  color: #000;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 16px;
  font-weight: 700;
  height: 25px;
  line-height: 15px;
  padding-bottom: 0;
}

.bottom-link-section-columns-subscribe-svg {
  display: inline-block;
  height: 13px;
  width: 13px;
  margin-right: 7px;
  vertical-align: middle;
}

.bottom-link-section-columns-subscribe-links-last {
  color: #000;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  width: 150px;
  font-size: 11px;
  font-weight: 500;
  height: 23px;
  line-height: 21px;
}

.bottom-link-section-columns-subscribe-links-last-2 {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #e2e2e2;
  margin-top: 2px;
  padding-top: 10px;
}

.footer-container {
  font-size: 9px;
  text-align: center;
  margin: 0 auto 20px auto;
  max-width: 1200px;
  padding: 0 3% 9px;
}

.footer-nav {
  border-top: 1px solid #ebebeb;
  padding-top: 9px;
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
}

.copyright {
  list-style: none;
  padding: 0;
  display: inline-block;
}

.footer-links {
  color: #666;
  font-family: helvetica, arial, sans-serif;
  padding: 10px 0;
  text-decoration: none;
  white-space: nowrap;
}

.footer-list {
  display: inline-block;
  list-style: none;
  margin: 0 0 35px;
  padding: 0;
  line-height: 8px;
}

.footer-list-items {
  display: inline-block;
  line-height: 20px;
  padding: 0 10px;
}

.footer-list-items:first-child {
  border-left: none;
}

.footer-line {
  border-top: 2px solid #000;
  width: 100%;
}

.inicio {

}
