* {
    margin: 0;
    padding: 0;
}

body{
    background: #FEFEFE;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 14px;
}

/* ----- ADDED THE FONTS FOR THE PROJECT ----- */

@font-face {
    font-family: "Cheltenham";
    src: url('resources/fonts/Cheltenham Bold Italic.otf')  format('truetype');
}

@font-face {
    font-family: "franklyn-Regular";
    src: url('resources/fonts/franklyn-Regular.ttf')  format('truetype');
}

@font-face {
    font-family: "nyt-imperial-bold";
    src: url('resources/fonts/nyt-imperial-bold.woff.ttf')  format('truetype');
}

@font-face {
    font-family: "nyt-imperial-bold";
    src: url('resources/fonts/times.ttf')  format('truetype');
}
/* ----- ...HERE STARTS THE STICKY NAVBAR ----- */
nav {
    position: sticky;
    top: 0;
    align-self: center;
    padding: 0px 20px 5px 20px;
}

.top-nav{
    width: 95%;
    background: #ffffff;
    height: 34px;
    border-bottom: 1px solid #c4c4c4;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 5px 20px;
    position: absolute;
}

.top-nav img{
    display: flex;
    height: 28px;
    width: 200px;
    align-items: center;
    
}

.lft-icons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition-delay: 2s;
    transition-timing-function: ease-in-out 2s;
}

.bars {
    margin: 15px 5px 0px 0px;
}

.search {
    margin: 15px 25px 0px 25px;
}

.rgt-icons{
    display: flex;
    justify-content: flex-end;
}

.spc{
    margin: 15px 5px 0px 0px;
}

.spc-wrd{
    font-family: "franklyn-Regular";
}

.subs button{
    border-radius: 3px;
    background-color: #567b95;
    color: #ffffff;
    border: none;
    height: 28px;
    margin-top: 5px;
}

.login button{
    margin: 5px 0px 0px 7px;
    border-radius: 3px;
    background-color: #567b95;
    color: #ffffff;
    border: none;
    height: 28px;
}

.rgt-icons button {
    text-decoration: none;
    font-weight: 600;
    color: #ffffff;
    font-size: 12px;
    position: relative;
    padding: 0px 15px 0px 15px;
}

.lft-icons a {
    text-decoration: none;
    font-weight: 700;
    color: #000000;
}

.nyt-logo{
    display: flex;
    align-items: center; 
    position: relative;
    top: 8px;   
}

.bars:hover{
    background:  #c4c4c4;
    width: 20px;
    height: 20px;
    position: relative;
    padding-left: 7px;
    padding-top: 4px;
    transition-timing-function: ease-in-out 0.7s;
    transition: 0.3s;
}

.search:hover{
    background:  #c4c4c4;
    width: 20px;
    height: 20px;
    position: relative;
    padding-left: 6px;
    padding-top: 4px;
    transition-timing-function: ease-in-out 0.7s;
    transition: 0.3s;
}

.spc:hover{
    text-decoration: underline;
}

.rgt-icons button:hover{
    transition-timing-function: ease-in-out 1s;
    height: 28px;
    background: #326891;
}

/* ----- ...HERE STARTS THE ARTICLE ----- */

.main{
    width: 100%;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.title{
    text-align: left;
    font-family: "Cheltenham";
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    margin: 45px 0px 45px 330px;
}

figcaption{
    margin: 10px 0px 5px 208px;
    text-align: left;
    font-weight: 400;
}

span {
    font-family: "Cheltenham";
    font-size: 12px;
    letter-spacing: 1px;
    color: #888888;
}

.author {
    margin: 25px 0px 15px 370px;
    font-family: 'Merriweather', serif;
    width: 600px;
}

.author-name{
    font-weight: 600;
    font-size: 15px;
}

.auth {
    text-decoration: none;
    color: #000000;
}

.auth:hover{
    text-decoration: underline;
}

.sm-icons {
    margin: 20px 0px 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*.fb {
    width: 27px;
    height: 37px;
    border-radius: 15px 15px 15px 15px;
    background: #888888
}

.fb img {
    width: 27px;
    height: 27px;
}

.twit {
    width: 27px;
    height: 27px;
    border-radius: 32px;
    border: 1px solid #000;
}

.twit img{
    width: 27px;
    height: 27px;
}

.mail {

}

.mail img {

}

.bkmrk {

}

.bkmrk img{

}*/
.icon-btns > li {
    display: inline-block;
    margin-right: 16px;
}
.icon-btns svg {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px;
    background: #eee;
    border-radius: 100%;
}
.icon-btns svg:hover {
    background:  #c4c4c4;
}
.main-article {
    width: 700px;
    margin: 25px 0px 90px 360px;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-family: nyt-imperial,georgia,'times new roman',times,serif;
    justify-content: center;
}
#intro{
    align-items: center;
}
.main-article p {
    margin-top: 15px;
    text-align: left;
}
.main-article h3 {
    margin-top: 15px;
    text-align: center;
}
.inflation-theory {
  width: 945px;
  margin: 40px auto;
  box-sizing: border-box;
}

.inflation-theory h2 {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  max-width: 100%;
  font-size: 1.25rem;
  line-height: 1.875rem;
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #000;
  margin-bottom: 2px;
  font-weight: 700;
}

.inflation-theory-cell {
  display: inline-block;
  color: #666;
  font-family: nyt-cheltenham-sh, georgia, times new roman, times, serif;
  line-height: 1.125rem;
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 20px;
  
}

.inflation-theory-container {
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  background-image: url("https://static01.nyt.com/newsgraphics/2014/03/18/theory-of-inflation/1ebaa1b972edda0f407fbaa0e010f6b50fb6792e/inflation-945.png");
  background-size: contain;
  border: 1px solid red;
}

.inflation-theory-grid {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  column-gap: 15px;
  box-sizing: border-box;
  margin-top: 150px;
  grid-row-gap: 130px;
}

.inflationSectionGrid p {
  font-family: arial, helvetica, sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-weight: 300;
  color: #000;
  margin: 0;
  font-style: normal;
  box-sizing: border-box;
}

.inflation-theory-footer {
  width: 60px;
  content: "";
  display: inline-block;
  height: 1px;
  margin: 0 0 13px;
  background-color: #000;
  max-width: 945px;
  margin-top: 24px;
}

.inflation-theory-credit {
  font-family: nyt-cheltenham, georgia, times new roman, times, serif;
  color: #333;
  font-size: 100%;
}

.inflation-theory-credit p {
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-style: normal;
  font-family: arial, helvetica, sans-serif;
  width: 700px;
}

.inflation-theory-spacer {
  content: "";
  border: none;
  margin-bottom: 25px;
}

.article-figures {
    max-width: 600px;
    margin: 0 auto; 
    padding: 0 16px;
    box-sizing: content-box; 
}

.article-figures > :first-child {
    width: 100%;
}
.article-figures > figcaption {
    margin: 5px 50px 0 0;
}
.article-figures .video-title {
    color: #666;
    line-height: 24px;
}
.article-figures .video-credit {
    font-size: 13px;
    color: #888;
}
.article-figures .video-title {
    color: #666;
    line-height: 24px;
}
.article-figures .video-credit {
    font-size: 13px;
    color: #888;
}

/*SECOND NAVBAR*/
.second-nav {
    border-bottom: 1px solid #666;
    background: #ffffff;
    width: 100%;
    max-width: 100%;
    height: 38.75px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(2, 33.33%);
    grid-template-rows: repeat(1, 33.33%);
    grid-template-areas: "nyt-svg cosmo social-icons";
    flex-direction: row;
    opacity: 1; 
    z-index: 900; 
    visibility: visible;
}

.second-logo {
    grid-area: nyt-svg;
    align-self: baseline;
    margin: 10px 0px 10px 15px;
    width: 184px;
    height: auto;
}

.nyt-svg {
    width: 184px;
}

.cosmo {
    grid-area: cosmo;
    text-decoration: none;
    font-size: 14px;
    color: #000;
    font-weight: 800;
    align-self: stretch;
    height: 38px;
    text-align: center;
    padding-top: 10px;
    margin-left: -250px;
}
.cosmo:hover{
    text-decoration: underline;
}

.cosmo span {
    font-size: 14px;
    font-family: "Cheltenham";
    color: #000000;
}

.cosmo span:hover{
    text-decoration: none;
}

.cosmo-anchor {
    text-decoration: none;
    font-family: "franklyn-Regular";
    font-weight: bolder;
    color: #000000;
    height: 38px;
}

.social-icons {
    grid-area: social-icons;

}

.sm-grid {
    grid-area: social-icons;
    list-style-type: none;
    display: inline-flex;
    width: 280px;
    height: 38px;
    justify-content: space-around;
    padding-top: 8px;
}
.sm-grid svg {
    box-sizing: content-box;
    width: 15px;
    height: 15px;
    padding: 5px;
    border: 1px;
    background: #eee;
    border-radius: 100%;
}

.sm-grid svg:hover {
    background:  #c4c4c4;
}

.container-main {
    width: 100%;
    align-content: center;
}